@{
    var connectedUser = Registrar.Models.User.ConnectedUser;
}
<div class="layout-header">
    <a href="@Url.Action("Index", "Students")" style="text-decoration:none;">
        <div class="layout-header-app-name">
            <img src="~/WebApp.png" class="appLogo" alt="Logo" style="height:40px; margin-right:10px;" />
            <span style="color:white; font-size: 24px; font-weight: bold;">Registrar</span>
        </div>
    </a>

    <div class="layout-header-view-name">
        @ViewBag.Title
    </div>

    <div class="layout-header-menu">
        @if (connectedUser != null)
        {
            <a href="@Url.Action("Index", "Students")" class="icon fa fa-user-graduate" title="Étudiants"></a>
            <a href="@Url.Action("Index", "Courses")" class="icon fa fa-book" title="Cours"></a>
            <a href="@Url.Action("Index", "Teachers")" class="icon fa fa-chalkboard-teacher" title="Professeurs"></a>

            <a href="@Url.Action("EditProfil", "Accounts")" title="Modifier le profil" style="position:relative; display:inline-block; margin-right:15px;">
                @Helper.AvatarUser(connectedUser, "UserSmallAvatar")
                <img src="~/Content/UI-Images/OnLine.png" title="En ligne" style="position:absolute; bottom:0; right:-5px; width:12px; height:12px;" />
            </a>

            if (connectedUser.IsAdmin)
            {
                <a href="@Url.Action("ManageUsers", "Accounts")" class="icon fa fa-users-cog" title="Gérer les usagers"></a>
            }

            <a href="@Url.Action("Logout", "Accounts")" class="icon fa fa-sign-out-alt" title="Déconnexion"></a>
        }
        else
        {
            <a href="@Url.Action("Login", "Accounts")" class="icon fa fa-sign-in-alt" title="Se connecter"></a>
        }
    </div>
</div>