@model Registrar.Models.Course


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)

    <div style="max-width: 800px; margin: auto;">
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        <details id="info_section" open>
            <summary>Informations - @Model.Code</summary>
            <fieldset style="border:none !important; padding: 15px !important;">

                <label>Session</label>
                @Html.EditorFor(model => model.Session, new { htmlAttributes = new { @class = "form-control", min = "1", max = "6" } })
                @Html.ValidationMessageFor(model => model.Session, "", new { @class = "text-danger" })

                <label>Sigle</label>
                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })

                <label>Titre du cours</label>
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </fieldset>
        </details>

        <details id="enroll_section" open style="margin-top: 20px;">
            <summary>Inscriptions : Session @Registrar.Models.NextSession.Caption</summary>
            <fieldset style="border:none !important; padding: 15px !important;">
                @Helper.SelectionLists("SelectedStudents", (SelectList)ViewBag.Enrolled, (SelectList)ViewBag.Students)
            </fieldset>
        </details>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/selections.js"></script>
}