@helper SelectionLists(string controlId, System.Web.Mvc.SelectList selectedItems, System.Web.Mvc.SelectList items, int size = 10)
{
    <div class="select_@controlId selectionsGrid">
        <select name='@controlId' size='@size.ToString()' multiple class='SelectedItems form-control'>
            @if (selectedItems != null)
            {
                foreach (var si in selectedItems)
                {
                    <option value='@si.Value'>@si.Text</option>
                }
            }
        </select>

        <div class="SelectionsCMD">
            <div class="AddSelection icon fa"></div>
            <div class="RemoveSelection icon fa"></div>
            <div class="UnselectAll icon fa fa-times"></div>
        </div>

        <select size='@size.ToString()' multiple class='UnselectedItems form-control'>
            @if (items != null)
            {
                foreach (var ui in items)
                {
                    if (selectedItems != null && selectedItems.Where(s => s.Value == ui.Value).FirstOrDefault() == null)
                    {
                        <option value='@ui.Value'>@ui.Text</option>
                    }
                }
            }
        </select>
    </div>
}