@model Registrar.Models.Student

@{ ViewBag.Title = "Nouvel …tudiant"; }

<h2>Inscrire un nouvel ťtudiant</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @* CHANGEZ LE TRUE POUR FALSE ICI : *@
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

     

        <div class="form-group">
            <label>Prťnom</label>
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "ex: Jean" } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label>Nom de famille</label>
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "ex: Tremblay" } })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label>Date de naissance</label>
            @Html.TextBoxFor(m => m.BirthDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
            @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label>Courriel</label>
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "exemple@domaine.com" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label>Tťlťphone</label>
            @* Notez l'ajout de la classe 'Phone' pour activer votre masque de saisie (si configurť) *@
            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control Phone", placeholder = "(514) 123-4567" } })
            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
        </div>

        <div style="margin-top: 20px;">
            <input type="submit" value="Crťer l'ťtudiant" class="btn btn-primary" />
            @Html.ActionLink("Annuler", "Index", null, new { @class = "btn btn-default" })
        </div>
    </div>
}