@model Registrar.Models.Student

@{ ViewBag.Title = "Étudiant - Modification"; }

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Code)

    @Html.ValidationSummary(false, "Attention :", new { @class = "text-danger", style = "color:red; font-weight:bold; margin-bottom:15px;" })

    <details id="info_section" open>
        <summary>Informations - [@Model.Code]</summary>
        <div class="form-grid">
            <div>
                @Html.EditorFor(m => m.FirstName)
                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger", style = "color:red; font-size:12px;" })
            </div>

            <div>
                @Html.EditorFor(m => m.LastName)
                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger", style = "color:red; font-size:12px;" })
            </div>

            <div>
                @Html.TextBoxFor(m => m.BirthDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                @Html.ValidationMessageFor(m => m.BirthDate, "", new { @class = "text-danger", style = "color:red; font-size:12px;" })
            </div>

            <div>
                @Html.EditorFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger", style = "color:red; font-size:12px;" })
            </div>

            <div>
                @Html.EditorFor(m => m.Phone, new { htmlAttributes = new { @class = "form-control Phone", placeholder = "(000) 000-0000" } })
                @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger", style = "color:red; font-size:12px;" })
            </div>
        </div>
    </details>



    <div id="enrollement_section">
        <div id="inscriptionsContainer">
            @* Sera chargé par AJAX *@
        </div>
        <div id="hiddenSelections"></div>
    </div>

    @* LE BOUTON REVIENT ICI : *@
    <div style="margin-top: 20px;">
        <input type="submit" value="Enregistrer" class="btn btn-primary" />
        @Html.ActionLink("Annuler", "Index", null, new { @class = "btn btn-default" })
    </div>
} @* <--- Fermeture du Html.BeginForm() *@

@* LE SECTION SCRIPTS DOIT ÊTRE À L'EXTÉRIEUR DU FORMULAIRE *@
@section Scripts {
    <script src="~/Scripts/studentEdit.js"></script>
    <script>
    $(document).ready(function () {
        new AutoRefreshedPanel(
            "inscriptionsContainer",
            "/Students/GetInscriptions/@Model.Id",
            5,
            function() {
                // Si vous n'utilisez pas la "Délégation d'événements" (voir ci-dessous),
                // vous devriez rappeller votre fonction d'initialisation ici.
                if (typeof initStudentEdit === "function") {
                    initStudentEdit();
                }
            }
        );
    });
    </script>
}