@model Registrar.Models.Student

@{ ViewBag.Title = "Étudiant - Modification"; }

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Id)

    <details id="info_section" open>
        <summary>Informations - [@Model.Number]</summary>
        <div class="form-grid">
            @Html.EditorFor(m => m.FirstName)
            @Html.EditorFor(m => m.LastName)
            @Html.EditorFor(m => m.BirthDate)
            @Html.EditorFor(m => m.Email)
            @Html.EditorFor(m => m.Phone)
        </div>
    </details>

    <details id="enrollement_section" open>
        <summary>Inscriptions: @Registrar.Models.NextSession.Caption</summary>

        <div id="dual-list-container" class="side-by-side">
            <div class="list-column">
                <label>Cours actuels</label>
                <select id="CurrentCourses" multiple class="course-select">
                    @foreach (var c in ViewBag.CurrentCourses)
                    {
                        <option value="@c.Id">[@c.Session] @c.Sigle - @c.Titre</option>
                    }
                </select>
            </div>

            <div class="arrows-column">
                <button type="button" id="moveToAvailable" class="arrow-btn">▶</button>
                <button type="button" id="moveToCurrent" class="arrow-btn">◀</button>
                <button type="button" id="deselectAll" class="btn-X">X</button>
            </div>

            <div class="list-column">
                <label>Cours disponibles</label>
                <select id="AvailableCourses" multiple class="course-select">
                    @foreach (var c in ViewBag.AvailableCourses)
                    {
                        <option value="@c.Id">[@c.Session] @c.Sigle - @c.Titre</option>
                    }
                </select>
            </div>
        </div>

        @* Hidden inputs pour soumettre les IDs sélectionnés au serveur *@
        <div id="hiddenSelections"></div>
    </details>

    <input type="submit" value="Enregistrer" class="btn btn-primary" />
}

@section Scripts {
    <script src="~/Scripts/studentEdit.js"></script>
}