@model IEnumerable<Registrar.Models.Student>

@{
    // Récupère les années uniques de tous les étudiants, en ordre décroissant
    var yearsList = Model.Select(s => s.Year).Distinct().OrderByDescending(i => i);
}

@foreach (int year in yearsList)
{
    var students = Model.Where(s => s.Year == year);
    if (students.Count() > 0)
    {
        <details id="students_details_@year" open>
            <summary>Cohorte @year</summary>

            @foreach (var item in students)
            {
                <div class="StudentListLayout" style="padding: 5px; border-bottom: 1px solid #eee;">
                    <a href="@Url.Action("Details", new { id = item.Id })">
                        <span class="studentCode">@item.Code</span>
                        <div class="studentName">@item.LastName @item.FirstName</div>
                    </a>
                </div>
            }
        </details>
    }
}