@model IEnumerable<Registrar.Models.Login>
@{
    var loggedUsersId = (List<int>)ViewBag.LoggedUsersId ?? new List<int>();
    int count = Model.Count();

    List<Registrar.Models.Login> logins = Model.ToList();
    int index = 0;
    bool first = true;
    int TimeZoneOffset = (int)Session["TimeZoneOffset"];

    while (index < count)
    {
        var login = logins[index];
        var shiftedEventDate = login.LoginDate.AddHours(TimeZoneOffset);
        var shiftedLogoutDate = login.LogoutDate.AddHours(TimeZoneOffset);
        int currentDay = shiftedEventDate.Day;

        string open = first ? "open" : "";
        first = false;

        object param = new { day = login.LoginDate.ToShortDateString().Trim() };
        <div style="display:grid; grid-template-columns:auto 20px; align-items:start;">
            <details @open>
                <summary>@shiftedEventDate.ToShortDateString() </summary>
                @{
                    do
                    {
                        if (login.User != null)
                        {
                                <div class="journalLayout">
                                    <div style="width:200px">@Helper.AvatarUser(login.User, "UserSmallAvatar")</div>
                                    <div>@shiftedEventDate.ToString("HH:mm")</div>

                                    @if (shiftedEventDate != shiftedLogoutDate)
                                    {
                                        <div>-</div>
                                        <div>@shiftedLogoutDate.ToString("HH:mm")</div>
                                    }
                                    else
                                    {
                                        if (loggedUsersId.Contains(login.User.Id))
                                        {
                                            loggedUsersId.Remove(login.User.Id);
                                            <div>-</div>
                                            <div title="Est en ligne en ce moment">@Helper.OnLineStatusIcon(true, false)</div>
                                        }
                                        else
                                        {
                                            <div>-</div>
                                            <div>@Helper.TimeOutIcon()</div>
                                        }
                                    }

                                    <div>
                                        @Helper.CountryFlag(login.CountryCode)
                                    </div>
                                    @if (login.IpAddress != "::1")
                                    {
                                        <div class="extraJournalInfo IP_Address">
                                            @login.IpAddress, @login.City, @login.RegionName
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="extraJournalInfo IP_Address">&nbsp;</div>
                                    }

                                </div>
                        }
                        index++;
                        if (index < count)
                        {
                            login = logins[index];
                            shiftedEventDate = login.LoginDate.AddHours(TimeZoneOffset);
                            shiftedLogoutDate = login.LogoutDate.AddHours(TimeZoneOffset);
                        }
                    } while (index < count && currentDay == shiftedEventDate.Day);
                }
            </details>
            <div style="margin-top:4px;margin-left:2px;">
                @Helper.IconConfirmCmdWithParam("Accounts", "DeleteLoginsDay", param, "fa-times", "Effacer la journée du " + shiftedEventDate.ToShortDateString())
            </div>
        </div>
    }
}