@model Registrar.Models.Teacher

@{ ViewBag.Title = "Prof - Détails"; }

<div class="details-header">
    @Model.FirstName @Model.LastName
</div>

<div class="row">
    <div class="col-md-2">
        @Helper.Image(Model.Avatar, "UserMediumAvatar")
    </div>
    <div class="col-md-6">
        <div class="detail-row">
            <i class="fa fa-barcode"></i> <strong>@Model.Code</strong>
        </div>
        <div class="detail-row">
            <i class="fa fa-phone"></i> @Model.Phone
        </div>
        <div class="detail-row">
            <i class="fa fa-calendar-check"></i> Embauché le @Model.StartDate.ToString("yyyy-MM-dd")
        </div>
        <div class="detail-row">
            @{
                double years = (DateTime.Now - Model.StartDate).TotalDays / 365.25;
            }
            <i class="fa fa-clock"></i> @Math.Round(years, 1) ans d'ancienneté
        </div>
    </div>

    <div class="col-md-4" style="text-align: right;">
        @if (Registrar.Models.User.ConnectedUser != null && Registrar.Models.User.ConnectedUser.CanWrite)
        {
            <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-default" title="Modifier le prof"><i class="fa fa-edit"></i></a>
        }
        <a href="@Url.Action("Index")" class="btn btn-default" title="Retour ŕ la liste"><i class="fa fa-list"></i></a>
    </div>
</div>

<h3 style="margin-top: 30px;">Allocations</h3>
@* (Espace pręt si le professeur exige de lister les cours attribués au prof) *@